//-Form wrapper
    Creates a form for purposes of submitting

    formObject

    {
        name:
        method:
        target:
        action:
        rows:
    }

mixin mz-form(formObject)
    form(name= formObject.name method= formObject.method target= formObject.target action= formObject.action)
        if formObject.contents.type == "rows"
            div(class= formObject.contents.classes)
                +print-rows(formObject.contents)
        else if formObject.contents.type == "row"
            div(class= formObject.contents.classes)
                +print-row(formObject.contents)
        else if formObject.contents.type == "column"
            div(class= formObject.contents.classes)
                +print-column(formObject.contents)
        else if formObject.contents.type == "sections"
            div(class= formObject.contents.classes)
                +print-sections(formObject.contents)
        else if formObject.contents.type == "section"
            div(class= formObject.contents.classes)
                +print-section(formObject.contents)

mixin print-rows(rowsObject)
    each row in rowsObject.rows
        div(class= "row " + row.classes)
            +print-row(row)

mixin print-row(rowObject)
    each column in rowObject.columns
        div(class= column.classes)
            +print-column(column)

mixin print-column(columnObject)
    if columnObject.contents.type == "text"
        +mz-input(columnObject.contents)
    else if columnObject.contents.type == "password"
        +mz-input(columnObject.contents)
    else if columnObject.contents.type == "textarea"
        +mz-textarea(columnObject.contents)
    else if columnObject.contents.type == "checkbox"
        +mz-checkbox(columnObject.contents)
    else if columnObject.contents.type == "radio"
        +mz-radio-button(columnObject.contents)
    else if columnObject.contents.type == "select"
        +mz-select(columnObject.contents)

mixin print-sections(sectionObject)
    each section in sectionObject.sections
        +print-section(section)

mixin print-section(sectionObject)
    if sectionObject.contents.type == "rows"
        div(class= sectionObject.classes)
            +print-rows(sectionObject.contents)
    else if sectionObject.contents.type == "section"
        div(class= sectionObject.classes)
            +print-section(sectionObject.contents)

//-Text input mixin
    Creates a Materialize text input object

    inputObject
    {
        type: password or text
        id:
        classes:
        label:
        target: The data binding target
        icon:
    }

mixin mz-input(inputObject)
    mz-input-container(class= inputObject.classes)
        if inputObject.icon
            i('mz-icon-mdi' 'mz-textarea-prefix' '[icon]'="\'" + inputObject.icon + "\'")
        input('mz-input' type= inputObject.type '[label]'= "\'" + inputObject.label + "\'" id= inputObject.id '[(ngModel)]'= inputObject.target name= inputObject.name)

//-Text area mixin
    Creates a Materialize text area with a textarea object

    textareaObject
    {
        id:
        classes:
        label:
        placeholder:
        length:
        name:
        icon:
    }

mixin mz-textarea(textareaObject)
    mz-textarea-container(class= textareaObject.classes)
        if textareaObject.icon
            i('mz-icon-mdi' 'mz-textarea-prefix' '[icon]'="\'" + textareaObject.icon + "\'")
        textarea('mz-textarea' '[label]'= "\'" + textareaObject.label + "\'" id= textareaObject.id placeholder= textareaObject.placeholder lenght= textareaObject.lenght '[(ngModel)]'= textareaObject.target name= textareaObject.name)

//-Checkbox mixin
    Creates a Materialize text input object

    inputObject
    {
        type: checkbox
        id:
        classes:
        label:
        name:
    }

mixin mz-checkbox(checkboxObject)
    mz-checkbox-container(class= checkboxObject.classes)
        input('mz-checkbox' type='checkbox' '[label]'= "\'" + checkboxObject.label + "\'" id= checkboxObject.id '[(ngModel)]'= checkboxObject.target name= checkboxObject.name)

//-Radio button mixin
    Creates a Materialize text input object

    inputObject
    {
        type: radio
        id:
        classes:
        label:
        name:
    }

mixin mz-radio-button(radioButtonObject)
    mz-radio-button-container(class= radioButtonObject.classes)
        input('mz-radio-button' type='radio' '[label]'= "\'" + radioButtonObject.label + "\'" id= radioButtonObject.id name= radioButtonObject.name '[withGap]'= radioButtonObject.gap '[(ngModel)]'= radioButtonObject.target value= radioButtonObject.value)

//-
    TODO: Comment <mz-select-container>
    
mixin mz-select(selectObject)
    mz-select-container(class= selectObject.classes)
        select('mz-select' '[label]'= "\'" + selectObject.label + "\'" id= selectObject.id name= selectObject.name '[placeholder]'= "\'" + selectObject.placeholder + "\'" '[(ngModel)]'= selectObject.target)
            each option in selectObject.options
                +mz-option(option)

//-
    TODO: Option Comment

mixin mz-option(optionObject)
    option(class= optionObject.classes id= optionObject.id '[value]'= optionObject.value)= optionObject.label