//- Este archivo contiene un conjunto de utiles mixins que se pueden utilizar en
//- todas las plantillas Pug del proyecto para facilitar la programacion
//- Declaramos una variable que contenga los URLs de las carpetas de interes del
//- proyecto
- 
  var dir = { root: '../' };
  dir.modules = dir.root + 'node_modules/';
  dir.templates = dir.root + 'templates/';
  dir.components = dir.root + 'components/';
  dir.assets = dir.root + 'assets/';
  dir.stylesheets = dir.root + 'stylesheets/';